/*Whole App*/

:root{
  --green-color: #1F413B;
  --med-grey-color: #B3BAB8;
  --light-grey-color: #E0DEE0;
  --near-black-color: #0F0C08;
}

.App {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Roboto' !important;
  max-width: 100vw;
  margin-left: auto;
  margin-right: auto;
}

body {
  margin-left: auto;
  margin-right: auto;
}


* {
  border-radius: 0 !important;
}

#birth-cottage-letterhead {
  max-width: 100%;
}

.custom-button{
  background-color: var(--med-grey-color);
  color: black;
}

.custom-button:hover{
  background-color: var(--near-black-color);
}

textarea {
  border: none;
  overflow: auto;
  outline: none;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;

  resize: none;
}

/* Main Page*/
#category-card {
  background-color: var(--green-color);
  color: white !important;
  text-transform: uppercase;
  letter-spacing: 1px
}

#suite-header, #assistant-header {
  background-color: var(--med-grey-color);
  color: black;
}

#suite-header h2, #assistant-header h2 {
  font-weight: 100;
}


#assistant-card {
  background-color: var(--light-grey-color);
  color: black;
}

#assistant-name-box {
  background-color: var(--light-grey-color);
}

#assistant-name-box p {
  background-color: var(--near-black-color);
  font-weight: 100;
  color: white;
}

/* Admin Portal*/

#login-card {
  background-color: var(--green-color);
  color: white !important;
  text-transform: uppercase;
  letter-spacing: 1px
}

#login-label{
  background-color: var(--near-black-color);
  color: white;
}